#marquee-cont {
  background: #f4f4f4;
}
#marquee-cont marquee {
  margin-top: 5px;
}
#marquee-news {
  background: #1174A8;
  padding: 5px;
}
#ticker-title{
  border:none;
  padding: 10px 40px;
  background:#1174A8;
  color:white;
}
#ticker-title:focus{
  outline:none;
}
#scroll{
  color: red;
}